#app {
	background-color: #348F6C;
	border-radius:30px ;
	display: flex;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: relative;
    padding:15px ;
    max-width: 1280px;
    min-width: 480px;
    margin: 0 auto;
    min-height: 700px;
}
.router-area {
	background-color: #ffffff;
	border-radius:0 0 20px 20px ;
    width: 80%; 
    height: calc(100% - 64px);
    position: relative;
    /* padding-top: 64px; */
    top: 64px;
}
.font-jua {font-family: 'Jua', sans-serif;}
.font-uto{font-family: 'BBTreeGR';font-weight: normal; font-style: normal;}

.no-header{overflow: hidden; height: unset; padding-top: 0; top:0; border-radius: 20px;}

/* status-header ---------------------------------------------------------*/

.status-header-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 200;
  width: calc(80% - 24px);
  height: 64px;
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid #f1f5f4;
  background-color: #ffffff;
  text-align: right;
} 
.status-form {
  display: inline-flex;
  padding: 8px;
}
.status-icon-cont {
  padding-right: 12px;
}
.loading-bar-cont {
  width: 188px;
  height: 18px;
  margin-top: 12px;
  border: 2px solid #348f6c;
  border-radius: 12px;
  text-align: right;
}
.loading-bar {
  width: 170px;
  /* 186px 가 최대 */
  height: 16px;
  padding-right: 6px;
  margin: -0.5px 0 0 -1px;
  border-radius: 10px;
  background-color: #348f6c;
  color: #fdf9f3;
  line-height: 14px;
}
.status-icon-cont > i {
  display: block;
  width: 48px;
  height: 48px;
  background: no-repeat center /100% 100%;
}

.status-icon-cont > i.emo-first {
  background-image: url('../images/emo_0-15.png');
}
.status-icon-cont > i.emo-second {
  background-image: url('../images/emo_16-30.png');
}
.status-icon-cont > i.emo-third {
  background-image: url('../images/emo_31-50.png');
}
.status-icon-cont > i.emo-fourth {
  background-image: url('../images/emo_51-65.png');
}
.status-icon-cont > i.emo-fifth {
  background-image: url('../images/emo_66-80.png');
}
.status-icon-cont > i.emo-sixth {
  background-image: url('../images/emo_81-99.png');
}
.status-icon-cont > i.emo-seventh {
  background-image: url('../images/emo_100.png');
}

/* ------ Gnb 메뉴 -------------------------------------------------------- */
.sidebar-wrap{width: 20%;}
.side-gnb-form a, .side-gnb-form h1 {font-family: 'NanumSquare', sans-serif !important;font-weight: bold; }


.side-gnb-form{
    padding: 20px;
    position: relative;
}
.side-gnb-form > .logo-cont {
    padding-bottom: 20px;
    position: relative;
}
.side-gnb-form > .logo-cont a {color: #fff;font-size: 2em;}
.side-gnb-form > .gnb-list-cont {position: absolute;left:0;right: 0;padding-left:15px}
.side-gnb-form > .gnb-list-cont > ul{padding: 20px 0;}
.side-gnb-form > .gnb-list-cont > .finance-list {position: relative;}
.side-gnb-form > .gnb-list-cont > .finance-list::before{
    content: '';
    display: block;
    width:90%;
    height: 1px;
    position: absolute;
    top:1px;
    left: 0;
    background-color: #3f9c79;
}
.side-gnb-form > .gnb-list-cont > .finance-list::after{
    content: '';
    display: block;
    width:90%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;;
    background-color: #3f9c79;
}
.side-gnb-form > .gnb-list-cont > ul > li {width: 100%;position: relative;}
.side-gnb-form > .gnb-list-cont > ul > li > a{
    line-height:45px;
    font-size:1.5em;
    display: block;
    padding-left:35px;
    color: #fff;
}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon{
    display: block;
    background: no-repeat 50% 50%;
    background-size: cover;
    width:20px;
    height:20px;
    position: absolute;
    left: 5px;
    top: 13px;
}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.settings {background-image: url('../images/settings.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.mypage {background-image: url('../images/user_gnb.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.logout {background-image: url('../images/logout.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.main {background-image: url('../images/home.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.statistics{background-image: url('../images/statistics.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.daily{background-image: url('../images/monday.png');}

.registration-page-wrap > .regist-form > form > button {
    background-color: unset;
    font-size: 0;
    border: transparent;
    background:url('../images/arrow.svg') no-repeat 50%;
    background-size:cover;
    width:40px;
    height: 35px;
    /* width:100px;
    height:35px; */
    position: absolute;
    right:10px;
    bottom:-80px;
    cursor: pointer;
    /* padding: 16px;
    background-color: rgb(59, 59, 59,0.7);
    border-radius: 20px; */
}