#app {
	background-color: #348F6C;
	border-radius:30px ;
	display: flex;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: relative;
  padding:15px ;
  max-width: 1280px;
  min-width: 480px;
  margin: 0 auto;
  min-height: 700px;
  overflow: hidden;
}
.router-area {
	background-color: #ffffff;
	border-radius:0 0 20px 20px ;
  width: 80%; 
  height: calc(100% - 64px);
  position: relative;
  top: 64px;
}
.no-header {
  overflow: hidden;
  height: unset;
  top:0;
  border-radius: 20px;
}
.font-jua {font-family: 'Jua', sans-serif;}
.font-uto{font-family: 'BBTreeGR';font-weight: normal; font-style: normal;}

/* scroll */
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	border-radius: 9px;
	width: auto;
  background-color: #348f6c48;
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* btn */
button.btn.big {
  padding:7px 30px;
  border-radius: 25px;
}

button.btn.small {
  padding: 5px 13px;
  border-radius: 6px;
}

/* status-header ---------------------------------------------------------*/

.status-header-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 200;
  width: calc(80% - 24px);
  height: 64px;
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid #f1f5f4;
  background-color: #ffffff;
  text-align: right;
} 
.status-form {
  display: inline-flex;
  padding: 8px;
}
.status-icon-cont {
  padding-right: 12px;
}
.loading-bar-cont {
  width: 188px;
  height: 18px;
  margin-top: 12px;
  border: 2px solid #348f6c;
  border-radius: 12px;
  text-align: right;
}
.loading-bar {
  position: relative;
  width: 0px;
  /* 186px 가 최대 */
  height: 14px;
  /* padding-right: 6px; */
  /* margin: -0.5px 0 0 -1px; */
  border-radius: 10px;
  background-color: #348f6c;
  color: #fdf9f3;
  /* line-height: 14px; */
  transition: all 1s ease 1s;
}

.loading-bar .bar-number {
  position: absolute;
  top: -2px;
  right: 6px;
}

.loading-bar .bar-number.low-bar {
  right: -30px;
  color: #348f6c;
}

.status-icon-cont > i {
  display: block;
  width: 48px;
  height: 48px;
  background: no-repeat center /100% 100%;
}

.status-icon-cont > i.emo-first {
  background-image: url('../images/emo_0-15.png');
}

.status-icon-cont > i.emo-second {
  background-image: url('../images/emo_16-30.png');
}
.status-icon-cont > i.emo-third {
  background-image: url('../images/emo_31-50.png');
}
.status-icon-cont > i.emo-fourth {
  background-image: url('../images/emo_51-65.png');
}
.status-icon-cont > i.emo-fifth {
  background-image: url('../images/emo_66-80.png');
}
.status-icon-cont > i.emo-sixth {
  background-image: url('../images/emo_81-99.png');
}
.status-icon-cont > i.emo-seventh {
  background-image: url('../images/emo_100.png');
}

/*------ SideGnbForm--------------------------------------------------------*/
.sidebar-wrap{width: 20%;}
.side-gnb-form a, .side-gnb-form h1, .calender-cont > * {font-family: 'IBMPlexSansKR-Text';}

.side-gnb-form{
    position: relative;
    height: 100%;
}
.side-gnb-form > .logo-cont {
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 15px;
}
.side-gnb-form > .logo-cont .logo {
  color: #fff;
  font-size: 2em;
}
.side-gnb-form > .logo-cont .logo > img {
  width:80%;
  height:auto;
}
.side-gnb-form > .username-cont {
  width: 100%;
  padding: 0 5px;
  position: absolute;
  left: 25px;
  top: 25px;

}
.side-gnb-form > .username-cont > a {
  font-weight: bold;
  color: #fff;
}

.side-gnb-form > .username-cont > a > i {
  margin-right: 5px;
  font-size: 1.7em;
}
.side-gnb-form > .username-cont > a > span {
  color: #fff;
  font-size: 1.3em;
}
.side-gnb-form > .username-cont.on > a {
  letter-spacing: 1.5px;
}

.side-gnb-form > .gnb-list-cont {
  position: absolute;
  top: 70px;
  left:0;
  right: 0;
  padding-left:5px
}
.side-gnb-form > .gnb-list-cont > ul{
  padding:15px 0;
  position: relative;
}
.side-gnb-form > .gnb-list-cont > ul::before{
  content: '';
  display: block;
  width:85%;
  height: 1px;
  position: absolute;
  top:1px;
  left:14px;
  background-color: #4a9b7b
}
.side-gnb-form > .gnb-list-cont > ul > li {
  width: 100%;
  position: relative;
  padding-left:15px;
  border-radius:100px;
}
.side-gnb-form > .gnb-list-cont > ul > li.mypage {
  margin-top:10px;
}
.side-gnb-form > .gnb-list-cont > ul > li + li {
  margin-top:5px;
}
.side-gnb-form > .gnb-list-cont > ul > li.transparent-bar{
  padding:10px 0;
}
.side-gnb-form > .gnb-list-cont > ul > li.transparent-bar::before{
  content: '';
  display: block;
  width:85%;
  height: 1px;
  position: absolute;
  top:50%;
  left:14px;
  background-color: #4a9b7b
}
.side-gnb-form > .gnb-list-cont > ul > li > a {
    line-height:56px;
    font-size:1.4em;
    display: block;
    padding-left:52px;
    color: #fff;
    position: relative;
    font-weight:700;
}

.side-gnb-form > .gnb-list-cont > ul > li.active{
  background-color: #fff;
}
.side-gnb-form > .gnb-list-cont > ul > li.active > a { 
  color: #3B3B3B;
}
.side-gnb-form > .gnb-list-cont > ul > li.active::before{
  content: '';
  background: url('../images/radius_before.png') no-repeat 0 0;
  position: absolute;
  top: 0;
  right:20px;
  /* margin-right: -1.25rem; */
  margin-right: -20px;
  width: 30px;
  height: 30px; 
  margin-top: -30px;
  transform: rotate(90deg) scale(1.04);
  background-size: 100%;
  
}
.side-gnb-form > .gnb-list-cont > ul > li.active::after{
  content: '';
  background: url('../images/radius_after.png') no-repeat 0 0;
  position: absolute;
  top:6px;
  right: 0;
  width: 31px;
  height: 31px;
  margin-top: 50px;
  transform: scale(1.04);
  background-size: 100%;
}
.side-gnb-form > .gnb-list-cont > ul > li.active > a::before{
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1.25rem;
  /* width: 3rem; */
  width: 50px;
  height: 100%;
  background-color: #fff;
}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon{
    display: block;
    background: no-repeat 50% 50%;
    background-size:100%;
    width:20px;
    height:20px;
    position: absolute;
    left:13px;
    top:18px;
    transform: scale(1.2)
}

.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.settings-icon {background-image: url('../images/settings.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.mypage-icon {background-image: url('../images/user_gnb.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.logout-icon {background-image: url('../images/logout.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.main-icon {background-image: url('../images/home.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.statistics-icon{background-image: url('../images/statistics.png');}
.side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon.daily-icon{background-image: url('../images/monday.png');}
/* .side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon {transform: scale(1.2);} */

.side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon.settings-icon {background-image: url('../images/settings_green3.png');}
.side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon.mypage-icon {background-image: url('../images/user_gnb_green2.png');}
/* .side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon.logout-icon {background-image: url('../images/logout_green2.png');} */
.side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon.main-icon {background-image: url('../images/money.png');}
.side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon.statistics-icon{background-image: url('../images/statistics_green3.png');}
.side-gnb-form > .gnb-list-cont > ul > li.active > a > .gnb-icon.daily-icon {background-image: url('../images/calendar.png');}

.side-gnb-form > .gnb-list-cont > ul > li:hover {
  background-color: #43a37e;
  width: 95%;
}

.side-gnb-form > .gnb-list-cont > ul > li.active:hover {
  background-color: #fff;
  width: 100%;
}
.side-gnb-form > .gnb-list-cont > ul > li.transparent-bar:hover {
  background-color: unset;
}


.side-gnb-form > .calender-cont {
  background-color: #43a37e;
  position: absolute;
  bottom: 11px;
    height: 28%;
    width: 82%;
  border-radius: 30px;
  padding:20px;
  display: none;
}
.side-gnb-form > .calender-cont > * {color: #fff;}
.side-gnb-form > .calender-cont > .date {position: absolute;font-size:5em;bottom:13px;font-weight: 700;}
.side-gnb-form > .calender-cont > .day {
  position: absolute; 
  font-weight: 600;
  font-size:1.5em;    
  bottom: 60px;
  left: 103px;
}
.month {
  position: absolute;
  bottom: 30px;
  left: 103px;
  font-size:1.5em; 
}
.side-gnb-form > .calender-cont > i {position: absolute;width: 30px;height: 30px;background: url('../images/haw-weather.png') no-repeat;
  background-size: 100%;
}
.side-gnb-form > .calender-cont > .desc { position: absolute;top:55px;}


/* PC : 1024px ~
테블릿 : 768 ~ 1023px
모바일 : ~ 768px */

/* 태블릿사이즈 */
@media screen and (max-width:1023px){
  /*------ SideGnbForm--------------------------------------------------------*/
  .side-gnb-form > .username-cont {
    left: 14px;
    padding: 0;
  }
  .side-gnb-form > .username-cont > a {
  }
  .side-gnb-form > .username-cont > a > span {
    font-size: 1.2em;
  }
  .side-gnb-form > .username-cont > a > i {
    display: none;
  }
  .side-gnb-form > .gnb-list-cont {
    top: 60px;
  }
  .side-gnb-form > .gnb-list-cont > ul {
    padding: 10px 0;
  }
  .side-gnb-form > .gnb-list-cont > ul::before {
    left: 5px;
  }
  .side-gnb-form > .gnb-list-cont > ul > li { 
    padding-left: 4px;
  }
  .side-gnb-form > .gnb-list-cont > ul > li:hover {
    background-color: unset;
    width: 100%;
  }
  .side-gnb-form > .gnb-list-cont > ul > li > a {
    font-size: 1.3em;
    padding-left: 48px;
  }
  .side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon {
    width: 22px;
    height: 22px;
    top: 17px;
    transform: none;
  }

  .side-gnb-form > .gnb-list-cont > ul > li.transparent-bar::before {
    left: 5px;
  }


  
}

/* 모바일사이즈 */
@media screen and (max-width:768px) {
  /*------ SideGnbForm--------------------------------------------------------*/
  .side-gnb-form > .gnb-list-cont > ul > li > a > .gnb-icon {
    width: 27px;
    height: 27px;
    top: 16px;
    left: 33px;
  }

  .side-gnb-form > .logo-cont { 
    bottom: 40px;
    transform: rotateZ(-90deg);
  }

  .side-gnb-form > .logo-cont .logo > img {
    width: 100%;
  }
  .side-gnb-form > .gnb-list-cont > ul > li > a {
    font-size: 0;
  }
  .side-gnb-form > .username-cont > a > i {
    display: block;
  }
  .side-gnb-form > .username-cont {
    left:35px;
    top: 17px;
  }
  .side-gnb-form > .username-cont > a > i {
    font-size: 2.5em;
  }
  .side-gnb-form > .username-cont > a > span {
    display: none;
  }
  .side-gnb-form > .gnb-list-cont {
    padding-left: 0;
  }

  .side-gnb-form > .gnb-list-cont > ul > li {
    padding-left: 0;
  }


}
