.asset-list-form {
	position: absolute;
	width: 70%;
	height: 73%;
	min-height: 549px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.asset-list-form em {
	font-weight: 600;
	color: #3b3b3b;
}
.asset-list-form span {
	font-weight: 600;
	color: #3b3b3b91;
}

.asset-list-form > form > div {
	border-radius: 20px;
	padding: 30px;
	box-shadow: 0px 5px 24px -26px rgb(192, 192, 190)
}
.asset-list-form > form > div + div {
	margin-top: 15px;
}
.asset-list-form > form em {
		font-size: 2em;
}

/* ani-money */
.ani-money{
	position: relative;
	opacity: 0;
	bottom: .5em;
	animation: moving .5s ease-in-out forwards;
}
.ani-money:nth-child(1){
	animation-delay: 0s;
}
.ani-money:nth-child(2){
	animation-delay: .2s;
}

@keyframes moving {
	to {
		opacity: 1;
		bottom:0 ;
	}
/* 
	0% {transform: translateY(13px);opacity: 1;}
	35% {transform: translateY(19px);opacity: 1;}
	75% {transform: translateY(-6px);opacity: 1;}
	100% {transform: translateY(0); opacity: 1;} */
}

/* 총 자산 */
.total-asset-cont,
.cash-asset-cont,
.credit-asset-cont ul > li {
	display: flex;
}

.total-asset-cont {
	background-color: #348f6c67;
}
.total-asset-cont b{
	padding-top: 7px;
}
.total-asset-cont  > * {display: block;}
.total-asset-cont strong,
.credit-asset-cont ul > li > span,
.cash-asset-cont em {
	width: 20%;
	font-size: 2.6em;
	font-weight: bold;
	margin: 0;
}

.total-asset-cont b,
.cash-asset-cont span,
.credit-asset-cont ul > li > b,
.cash-asset-cont b {
	width: 80%;
	text-align: right;
	font-size: 2em;
}

/* 은행 */
.credit-asset-cont,
.cash-asset-cont {
		background-color: #348f6c2f ;
}

.credit-asset-cont  em { display:block; padding-bottom: 10px;}
.credit-asset-cont ul > li + li {margin-top: 10px;}
.credit-asset-cont ul > li > span {font-size: 1.5em;}

/* btn main */
.btn.main {
	position: absolute;
	right: 30px; 
	bottom: 10px;
	font-weight: bold;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
	font-size: 3em;
	transition :linear .3s;
	border: 0;
	background-color: rgba(206, 172, 118, 0.582);
	color: #fff;
	font-family: 'Jua';
	padding:7px 30px 0  !important;
}
.btn.main:hover {
	background-color: rgb(206, 172, 118);
}