  strong {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: 400;
    display: block;
  }

  .myinfo-form {
    /* outline: 1px solid blue; */
    border-radius: 5px;
    padding: 100px 80px 60px;

    overflow:scroll;
  }

  .myinfo-form > .status-inform-cont{
    border-radius: 10px;
    padding: 50px 90px;
    background-color: rgba(226, 201, 146, 0.2);
  }
  .myinfo-form > .status-inform-cont:after{
    content: '';
    display: block;
    clear: both;
  }
  .myinfo-form > .status-inform-cont > *{
    float: left;
  }

  /* ------ .status-cont ------ */
  .myinfo-form > .status-inform-cont > div{
    /* outline:1px solid red; */
    width:200px;
    height: 200px;
    display: inline-block;
  }
  .myinfo-form > .status-inform-cont > div > i{
    width: 100%;
    height: 100%;
    /* font-size: 200px; */
    display:inline-block;
  }

  .myinfo-form > .status-inform-cont > div > i.emo-first {
    background-image: url('../images/emo_0-15.png');
    background-size: cover;
  }
  
  .myinfo-form > .status-inform-cont > div > i.emo-second {
    background-image: url('../images/emo_16-30.png');
    background-size: cover;
  }
  .myinfo-form > .status-inform-cont > div > i.emo-third {
    background-image: url('../images/emo_31-50.png');
    background-size: cover;
  }
  .myinfo-form > .status-inform-cont > div > i.emo-fourth {
    background-image: url('../images/emo_51-65.png');
    background-size: cover;
  }
  .myinfo-form > .status-inform-cont > div > i.emo-fifth {
    background-image: url('../images/emo_66-80.png');
    background-size: cover;
  }
  .myinfo-form > .status-inform-cont > div > i.emo-sixth {
    background-image: url('../images/emo_81-99.png');
    background-size: cover;
  }
  .myinfo-form > .status-inform-cont > div > i.emo-seventh {
    background-image: url('../images/emo_100.png');
    background-size: cover;
  }




  /* ------ id, nickname ------ */
  .myinfo-form > .status-inform-cont > ul {
    /* outline: 1px solid blue; */
    padding: 30px 20px 0 120px;
    font-size: 1.5em;
    /* display: inline-block; */
    position: relative;
  }

  .myinfo-form > .status-inform-cont > ul:before{
    content: '';
    display: block;
    border-left: 2px solid rgba(226, 201, 146, .5);
    height: 100%;
    position:absolute;
    left: 50px;
    top:20px;
  }
  .myinfo-form > .status-inform-cont > ul > li {
    margin: 20px 0;
  }
  .myinfo-form > .status-inform-cont > ul > li > span {
    border-radius: 5px;
    margin-left: 20px;
    padding: 3px 10px;
    font-size: 1.1em;
    background-color: #e2c992;
    /* background-color: #fdf2e4; */
    display: inline-block;
  }



  /* ------ [정보수정하기] 버튼 ------ */
  .myinfo-form > button {
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background-color: #348f6c;
    position: absolute;
    top: 10px;
    right: 70px;
    /* z-index는 임시로 준 것. statusHeader를 보이지 않게 하기 전까지 겹쳐지기때문에 버튼이 위로 올라오도록 임시로 줌. */
    z-index:200;
  }



