 /* ------ SettingPage.vue ------ */
 .setting-page-wrap {
  overflow-y:scroll;
}
.setting-page-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.setting-page-wrap > * {
  /* outline: 1px solid blue; */
  width: 50%;
  padding: 30px 80px 40px;
  /* background-color: rgba(253, 242, 228, 0.3); */
  float: left;
}
.setting-page-wrap > .set-asset {
  padding-right: 40px;
}
.setting-page-wrap > .set-category {
  padding-left: 40px;
}



/* ------ SettingPage.vue 공통 ------ */
.clear:after {
  content: '';
  display: block;
  clear: both;
}
h3 {
  margin: 10px 0;
  font-size: 2em;
}
strong {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
}
.explanation {
  margin-bottom: 15px;
  font-size: 1em;
  font-weight: 400;
  color: rgba(59, 59, 59, 0.5);
  display: inline-block;
}
.explanation > span{
  border-radius: 3px;
  line-height: 16px; 
  padding: 0 4px;
  text-align: center;
  color: #fff;
  background-color:  rgba(59, 59, 59, 0.5);
  display: inline-block;
}


/* ------ SetAsset.vue ------ */ 
.set-asset > h3 {
  margin-bottom: 0;
}

.set-asset > form > * {
  margin: 20px 0 50px 0;
}
.set-asset > form > .total-goal-cont > span {
  padding-left: 10px;
  font-size: 1.3em;
}

.set-asset > form > .credit-goal-cont {
  /* margin-bottom: 20px; */
  position: relative;
}
.set-asset > form > .credit-goal-cont > b.explanation{
  margin-bottom: 0;
}
.set-asset > form > .credit-goal-cont > button {
  border: none;
  border-radius: 4px;
  width: 23px;
  height: 23px;
  font-size: 20px;
  color: #fff;
  background-color: #348f6c;
  position: absolute;
  top: 5px;
  right: 2%;
}
.set-asset > form > .credit-goal-cont > ul{
  /* max-height: 170px; */
  margin: 5px 0;
  padding: 10px 10px 2px 10px;
  background-color: rgba(226, 201, 146, 0.2) /*#e2c992*/;
  /* overflow-y: scroll; */
}
.set-asset > form > .credit-goal-cont > ul > li {
  width: 100%;
  height: 100px;
  /* height: 54px; */
  margin: 0 0 10px;
  background-color: rgba(226, 201, 146, 0.2) /*#e2c992*/;
  position: relative;
}
.set-asset > form > .credit-goal-cont > ul > li.disabled:after{
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgba(175, 175, 173, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

/* ---은행별자산 입력 칸 추가해 달라는 안내문구 start--- */
.set-asset > form > .credit-goal-cont > ul > li.explanationLi{
  height: auto;
  background-color: transparent;
}
.set-asset > form > .credit-goal-cont > ul > li.explanationLi > span.explanation{
  margin: 0;
  padding: 0 5px;
}
/* ---은행별자산 입력 칸 추가해 달라는 안내문구 end--- */

.set-asset > form > .credit-goal-cont > ul > li > select {
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px);
  height: 30%;
  margin: 0 10px 0;
  padding-top: 10px;
  background-color: transparent;
  cursor: pointer;
}
.set-asset > form > .credit-goal-cont > ul > li > input {
  /* width: calc(75% - 15px);
  height: calc(100% - 14px); */
  margin: 7px 4px 7px 7px;
  padding: 0 10px;
  background-color: #fff;

  width: calc(100% - 15px);
  height: calc(50% - 14px);
}
.set-asset > form > .credit-goal-cont > ul > li > .realTimeAsset{
  /* color: rgba(59, 59, 59, 0.5); */
  position: absolute;
  /* bottom: 7px; */
  bottom: 3px;
  right: 10px;
  /* right: 30px; */
}
.set-asset > form > .credit-goal-cont > ul > li > .show{ /* 은행 별 자산 남은 금액만 보일 떄 스타일 */
  height: 55px;
  overflow-X: scroll;
  top: 50%; 
  left: 50px;
  right: 40px;
  transform: translateY(-10px);
}
.set-asset > form > .credit-goal-cont > ul > li > .show > span{
  height: 35px;
  padding: 6px 10px 0;
  font-size: 15px;
  background-color: rgba(226, 201, 146, .3);
  display: block;
}
.set-asset > form > .credit-goal-cont > ul > li > button.edit{
  border:none;
  border-radius: 3px;
  padding:2px 4px;
  background-color:rgba(226, 201, 146, 0.4) /*#e2c992*/;
  font-size:12px;
  color:#fff;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-2px);
}
.set-asset > form > .credit-goal-cont > ul > li > button.edit:hover{
  background-color:rgba(226, 201, 146, 0.9) /*#e2c992*/;
}
.set-asset > form > .credit-goal-cont > ul > li > button.hide{
  display: none;
}
.set-asset > form > .credit-goal-cont > ul > li > button.remove{
  border: none;
  /* border-radius: 2px; */
  padding: 1px 3px;
  background-color: rgba(226, 201, 146, .3) /*#e2c992*/;
  font-size:11px;
  color: #fff;
  position: absolute;
  /* top: 20px; */
  top: 50%;
  right: 11px;
}
.set-asset > form > .credit-goal-cont > ul > li > button.remove:hover{
  background-color:rgba(226, 201, 146, 0.9) /*#e2c992*/;
}

/* [설정]버튼 */
.set-asset > form > button {
  border: none;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  margin: 0;
  color: #fff;
  background-color: #348f6c;
  float: right;
}
.set-asset > form > button.colorChange{
  background-color: #DB8439;
}

input {
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  background-color: rgba(226, 201, 146, 0.2) /*#e2c992*/;
  position: relative;
}
/* input[type='text']:after {
  outline: 1px solid red;
  content: '원';
  display: block;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
} */




/* ------ SetCategory.vue ------ */
.set-category {
  /* outline: px solid red; */
}

/* --- 추가된 카테고리들(카테고리 수정버튼) --- */
.set-category > .category-list-cont {
  /* outline: px solid blue; */
}
.set-category > .category-list-cont:after {
  content: '';
  display: block;
  clear: both;
}
.set-category > .category-list-cont > form > b.explanation{
  margin: 30px 0 0;
}
.set-category > .category-list-cont > form > ul {
  border-radius: 5px;
  /* max-height: 90px; */
  margin-top: 5px;
  background-color: rgba(226, 201, 146, 0.2);
  /* background-color: #fdf9f3; */
  /* overflow-y: scroll; */

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.set-category > .category-list-cont > form > ul > b.explanation{
  margin: 10px 17px;
}
.set-category > .category-list-cont > form > ul > li {
  margin: 10px;
  display: inline-block;
  position: relative;
}
.set-category > .category-list-cont > form > ul > li > label {
  /* outline:3px solid red;
  position: relative; */
}
.set-category > .category-list-cont > form > ul > li > label > input[type='radio'] {
  width: 10px;
  height: 10px;
  display: none;
}
.set-category > .category-list-cont > form > ul > li > label > input[type='radio'] + div{
  border-radius: 3px;
  padding:3px 25px 3px 13px;
  color: #348f6c;
  background-color: rgba(52, 143, 108, 0.3) /*#348f6c*/;
  cursor:pointer;
}
.set-category > .category-list-cont > form > ul > li > label > input[type='radio'] + div.disabled{
  /* 카테고리 수정 중일 때, 카테고리 목록들 클릭 안되게 함. */
  pointer-events: none;
}
.set-category
  > .category-list-cont
  > form 
  > ul
  > li
  > label
  > input[type='radio']
  + div
  > span {
  color: #348f6c;
}
.set-category
> .category-list-cont
> form 
> ul
> li:hover
> label
> input[type='radio']
+ div {
  background-color:rgba(52, 143, 108, 0.5);

  /* display: flex; */
}
.set-category
> .category-list-cont
> form 
> ul
> li
> label
> input[type='radio']
+ div
> i{
  width:15px;
  padding-right:18px;
  padding-top:3px;
}

.set-category > .category-list-cont > form > ul > li > label > button {
  border: none;
  padding: 0px 3px 1px;
  font-size: 5px;
  color: #348f6c;
  background-color: transparent;
  position: absolute;
  right: 7px;
  top: 6px;
}
.set-category > .category-list-cont > form > ul > li > label > button:hover{
  background-color:rgba(52, 143, 108, .3);
}
.set-category > .category-list-cont > form > ul > li > label > button:focus{
  outline: none;
}
.set-category
  > .category-list-cont
  > form 
  > ul
  > li
  > label
  > input[type='radio']:checked
  + div.click,
  .set-category
  > .category-list-cont
  > form 
  > ul
  > li
  > label
  > input[type='radio']:checked
  + div 
  > span.click,
  .set-category
  > .category-list-cont
  > form 
  > ul
  > li
  > label
  > input[type='radio']:checked
  + div 
  + button.click{
  color: #fff;
  background-color: #348f6c;
}

.set-category
  > .category-list-cont
  > form 
  > ul
  > li
  > label
  > input[type='radio']:checked
  + div
  + button:hover{
    background-color:rgba(255, 255, 255, .2);
  }
.set-category > .category-list-cont > form > button {
  border: none;
  /* border-radius: 3px; */
  width: 50px;
  height: 30px;
  margin-top: 10px;
  color: #fff;
  background-color: #348f6c;
  opacity: .5;
  cursor: default;
  float: right;
}
.set-category > .category-list-cont > form > button.click {
  opacity: 1;
  cursor: pointer;
}
.set-category > .category-list-cont > form > button.disabled{
  opacity: .5;
}

/* --- 카테고리 추가 --- */
.set-category > .category-edit-cont {
  /* outline: px solid red; */
  margin-top: 40px;
}
.set-category > .category-edit-cont > strong {
  margin-bottom: 0;
}
.set-category > .category-edit-cont > form {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(226, 201, 146, 0.2);
}
.set-category > .category-edit-cont > form:after {
  content: '';
  display: block;
  clear: both;
}
.set-category > .category-edit-cont > form > input {
  background-color: #fff;
}
.set-category > .category-edit-cont > form > ul {
  height:190px;
  margin-top: 10px;
  overflow-y: scroll;

  /* display: flex;
  flex-wrap: wrap; */
}
.set-category > .category-edit-cont > form > ul > li {
  border: 2px solid #e2c992;
  border-radius: 2px;
  height: 49px;
  margin: 10px;
  display: inline-block;
  position:relative;
}
.set-category > .category-edit-cont > form > ul > li > label {
  /* outline: px solid red; */
}
.set-category > .category-edit-cont > form > ul > li > label > input {
  width: 37px;
  height: 37px;
  cursor: pointer;

  /* input을 <i>보다 위로 띄워줌. (<i>보다 뒤에있으면 선택이 안되기 때문.) */
  opacity: 0;
  z-index: 100;
}

.set-category > .category-edit-cont > form > ul > li > label > i{
  width:100%;
  height:100%;
  padding-top:8px;

  text-align:center;
  color:#e2c992;
  font-size:30px;
  background-color: #f8f4ea;
  cursor:pointer;

  position:absolute; 
  top:0;
  left:0;
}
.set-category > .category-edit-cont > form > ul > li:hover > label > input[type='radio'] + i{
  color:#443922;
  background-color:#e2c992;
}
.set-category > .category-edit-cont > form > ul > li > label > input[type='radio']:checked + i{
  color:#443922;
  background-color:#e2c992;
}
.set-category > .category-edit-cont > form > button {
  border: none;
  /* border-radius: 3px; */
  width: 50px;
  height: 30px;
  margin-top: 10px;
  color: #fff;
  background-color: #348f6c;
  float: right;
}
.set-category > .category-edit-cont > form > button.editCancel{
  width: auto;
  margin-left: 10px;
}
.set-category > .category-edit-cont > form > button.edit{ 
  background-color: #DB8439;
}

/* ------ AlertPopup.vue ------ */
.alert-popup{ border-radius: 10px; width: 400px; height: auto; padding: 10px 0; background-color: #3b3b3b; opacity: 0;  position: absolute; top: -80px; left: 70%; transform: translateX(-70%); transition: all .8s ease; }  
.alert-popup > p{ color: #f8f4ea; text-align: center; font-size: 17px; }
.popupShow{ opacity: 1; top: 40px; }





/* PC(1024px~) / 태블릿(768px ~ 1023px) / 모바일 (~768px) */

/* 태블릿(768px ~ 1023px) */
@media screen and (max-width:1023px){
  .setting-page-wrap > * {
    width: calc(100% - 160px);
    margin: 30px 80px 40px;
    background-color: rgba(253, 242, 228, 0.3);
    float: inherit;
  }
  /* .setting-page-wrap > *:before{
    content: '';
    display: block;
    border: 7px solid rgba(226, 201, 146, 0.2);
    width: calc(100% - 120px);
    height: calc(100% - 40px);
    background-color: rgba(253, 242, 228, 0.7);
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 0;
  } */
  .setting-page-wrap > .set-asset{
    margin-right: 80px;
    margin-bottom: 80px; 
    padding: 20px 40px;
  } 
  .setting-page-wrap > .set-category  {
    margin-left: 80px;
    margin-bottom: 50px;
    padding: 20px 40px;
  }

  /* ------ SetCategory.vue ------ */
  .set-category > .category-edit-cont > form > ul {
    height:300px;
    margin-top: 10px;
  }
}

/* 모바일 (~768px) */
@media screen and (max-width:768px){
  .setting-page-wrap > * {
    width: calc(100% - 30px);
    margin: 30px 15px 40px;
  }
  .setting-page-wrap > .set-asset{
    margin-right: 15px;
    margin-bottom: 70px;
    padding: 10px;
  } 
  .setting-page-wrap > .set-category  {
    margin-left: 15px;
    padding: 10px;
  }

  /* ------ AlertPopup.vue ------ */
  .alert-popup{ width: 300px; }  
  .alert-popup > p{ font-size: 15px; }
  .popupShow{ top: 50px; }
}

@media screen and (max-width:480px) {
  /* ------ AlertPopup.vue ------ */
  .alert-popup{ width: 200px; }  
}



